#root {
  margin: 0;
  padding: 2rem;
  padding-top: 0rem;
  text-align: center;
}

.App {
  text-align: center;
}

/* .App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
} */

#server_status_banner {
  background-color: orange;
  color: white;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Style for the reconnect button */
#reconnect_button {
  /* background-color: white; */
  color: orange;
  padding: 8px 12px;
  border: none;
  cursor: pointer;
  font-size: 14px;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.card {
  padding: 2em;
}

.title{
  top: 30px;
}

#settings-button {
  position: absolute;
  top: 10px; /* Adjust top and right values to position the button */
  right: 10px;
}

#chart-button {
  position: absolute;
  top: 10px; /* Adjust top and right values to position the button */
  left: 10px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
